body {
  
  overflow-x: auto; /* Allow horizontal scrollbar if needed */
}

.gradient {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%; /* Reduzi a altura do gradiente pela metade */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.371) 0%, rgba(255, 255, 255, 0) 100%);
}

.section-container {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.75rem;
  max-width: 48rem; /* 3xl */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075), 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.input-field {
  width: 100%;
  border: 0.125rem solid #e5e7eb;
  border-radius: 0.375rem;
  height: 2.25rem;
  padding: 0.5rem;
  outline: none;
}

.search-button {
  background-image: linear-gradient(to right, #3b82f6, #2563eb, #1d4ed8);
  color: #ffffff;
  font-family: 'Exo2', sans-serif;
  border: none;
  border-radius: 0.375rem;
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #2563eb;
}


.whatsapp-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #25D366;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}

.texto {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60%;
  display: none; /* Começa escondido */
  color: white;
}

@media (max-width: 375px) and (max-height: 812px) {
 
}

@media (max-width: 375px) and (max-height: 667px) {
 
  }


@media (max-width: 393px) and (max-height: 786px) {
 
}

.visible .texto {
 

  opacity: 1; /* Torna o texto visível */
}

.whatsapp-button.visible {
  opacity: 1; /* Torna o botão visível */
}

.blue-full {
  width: 100%;
  background-color: rgb(0, 0, 255);
}



@media only screen and (max-width: 600px) {
  /* Estilos para dispositivos móveis */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .image-container img {
    display: block;
    width: 200px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção original da imagem */
    margin-bottom: 10px; /* Adiciona espaço entre as imagens */
  }
  
  
}

