.gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%; /* Reduzi a altura do gradiente pela metade */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.371) 0%, rgba(255, 255, 255, 0) 100%);
  }
  
  .whatsapp-button {
    position: absolute;
    left: 90px; /* Posicionamento um pouco para a direita */
    top: 50%; /* Centralizando verticalmente */
    padding: 10px 20px;
    background-color: #25D366;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor:all-scroll;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Adicionada uma transição */
    opacity: 1;
    
  }
  
  .whatsapp-button:hover {
    background-color: #128C7E;
  }
  
  .texto {
    display: flex;
    align-items: center;
    justify-content: center;
   
    right: 15px; /* Ajustado para a posição direita */
    top: 120%; /* Posicionamento no meio vertical */
    margin-top: 10px; /* Ajuste para centralizar verticalmente */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Adicionada uma transição */
    opacity: 0; /* Começa com opacidade 0 para torná-lo invisível */
  }
  
  .visible .texto {
    opacity: 1; /* Torna o texto visível */
  }
  .whatsapp-button.visible {
    opacity: 1; /* Torna o botão visível */
  }
  
  @media screen and (max-width: 768px) {
    /* Estilo para dispositivos móveis */
  
    /* Ajuste do título "Nossa equipe" */
    #barraAzul h1 {
      font-size: 2rem; /* Reduzindo o tamanho da fonte */
      top: 5%; /* Ajustando a posição vertical */
      left: 52%; /* Ajustando a posição horizontal */
    }
  
    /* Ajuste da descrição */
    #barraAzul h4 {
      font-size: 1rem; /* Reduzindo o tamanho da fonte */
      top: 20%; /* Ajustando a posição vertical */
      left: 50%; /* Ajustando a posição horizontal */
      transform: translateX(-50%); /* Centralizando horizontalmente */
    }
  
    /* Ajuste do ícone de localização */
    #barraAzul img[src*='localizacao'] {
      width: 2px; /* Reduzindo o tamanho do ícone */
      height: 3px; /* Reduzindo o tamanho do ícone */
      bottom: 30%; /* Ajustando a posição vertical */
      left: 5%; /* Ajustando a posição horizontal */
    }
  
    /* Ajuste do endereço */
    #barraAzul p {
      font-size: 0.8rem; /* Reduzindo o tamanho da fonte */
      bottom: 28%; /* Ajustando a posição vertical */
      left: 50%; /* Ajustando a posição horizontal */
      transform: translateX(-50%); /* Centralizando horizontalmente */
    }
  
    /* Ajuste do ícone de e-mail */
    #barraAzul img[src*='email'] {
      width: 15px; /* Reduzindo o tamanho do ícone */
      height: 12px; /* Reduzindo o tamanho do ícone */
      bottom: 20%; /* Ajustando a posição vertical */
      left: 5%; /* Ajustando a posição horizontal */
    }
  
    /* Ajuste do e-mail */
    #barraAzul p:nth-of-type(2) {
      font-size: 0.8rem; /* Reduzindo o tamanho da fonte */
      bottom: 19%; /* Ajustando a posição vertical */
      left: 50%; /* Ajustando a posição horizontal */
      transform: translateX(-50%); /* Centralizando horizontalmente */
    }
  
    /* Ajuste das imagens dos funcionários */
    #barraAzul img[src*='FUNCIONARIO1'] {
      width: 7px; /* Reduzindo o tamanho da imagem */
      top: 4px; /* Ajustando a posição vertical */
      right: 1px; /* Ajustando a posição horizontal */
    }
    #barraAzul img[src*='FUNCIONARIO2'] {
      width: 7px; /* Reduzindo o tamanho da imagem */
      top: 4px; /* Ajustando a posição vertical */
      right: 3px; /* Ajustando a posição horizontal */
    }
  }