@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

:root {
  --color-neutral-0: #1b138b;
  --color-neutral-10: #14289b;
  --color-neutral-30: #ff6600;
  --color-neutral-40: #f5f5f5;
}

/* CONFIG BODY */
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

/* CONFIG FOOTER */
footer {
  width: 100%;
  color: var(--color-neutral-40);
}

#footer_content {
  background-color: #1b4e93;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3.5rem;
}


.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: #f5f5f5;
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

.footer-section {
  text-align: center;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section .footer-link {
  display: inline-block;
  margin-right: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: #0f315f;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100px;
}

@media screen and (max-width: 768px) {
  footer {
    text-align: center;
  }

  #footer_content {
    display: block;
    margin: 0 auto;
  }

  .image-container {
    margin-left: auto;
    margin-right: auto;
  }

  #footer_logo img {
    display: block;
    margin: 0 auto 20px;
  }

  #footer_links,
  #footer_social_media {
    margin-top: 20px;
  }
}
.footer-list li {
  position: relative;
}

.footer-list li::before {
  content: '';
  position: absolute;
  right: 230px; /* Posiciona a seta na direita */
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid var(--color-neutral-30); /* Cor laranja */
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}


.footer-list li a {
  padding-left: 10px; /* Espaçamento para acomodar a seta */
}